**MERGE() FUNCTION**

In [41]:
# here i apply merge() to data frames
import pandas as pd
var1 = {'a':[1,2,3,4,5],
       'b':[6,7,8,9,0],}
var2 = {'a':[1,2,3,4,5],
        'b':[16,17,18,19,20]}
dt_var1 = pd.DataFrame(var1)
dt_var2 = pd.DataFrame(var2)
print(dt_var1)
print(dt_var2)
print(pd.merge(dt_var1, dt_var2, on= 'a',suffixes = ('king1','king')))

   a  b
0  1  6
1  2  7
2  3  8
3  4  9
4  5  0
   a   b
0  1  16
1  2  17
2  3  18
3  4  19
4  5  20
   a  bking1  bking
0  1       6     16
1  2       7     17
2  3       8     18
3  4       9     19
4  5       0     20

**CONCAT FUNCTION**

In [49]:
import pandas as pd
var1 = {'a':[1,2,3,4,5],
       'b':[6,7,8,9,0],}
var2 = {'a':[1,2,3,4,5],
        'c':[16,17,18,19,20]}
dt_var1 = pd.DataFrame(var1)
dt_var2 = pd.DataFrame(var2)

# CONCAT TWO DATAFRAMES
print(pd.concat([dt_var1, dt_var2], axis =0 ,join = 'outer'))

   a    b     c
0  1  6.0   NaN
1  2  7.0   NaN
2  3  8.0   NaN
3  4  9.0   NaN
4  5  0.0   NaN
0  1  NaN  16.0
1  2  NaN  17.0
2  3  NaN  18.0
3  4  NaN  19.0
4  5  NaN  20.0