**WORK WITH DATAFRAME STRUCTURE**

CREATE DATA FRAME SYNTAX

In [ ]:
import pandas as pd
dt_frame_var = pd.DataFrame([20])
print(dt_frame_var)

    0
0  20

**create dataframe using list**

In [ ]:
lst = [1,2,3,4,5]
dt_frame_var = pd.DataFrame(lst)
print(dt_frame_var)

   0
0  1
1  2
2  3
3  4
4  5

here lst2 work as indexes

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,0]
dt_frame_var1 = pd.DataFrame(lst1,lst2, columns = ["colum1"])
print(dt_frame_var1)

   colum1
6       1
7       2
8       3
9       4
0       5

In [ ]:
dt_frame_var2 = pd.DataFrame(lst1+lst2 , columns = ["data"])
print(dt_frame_var2)

   data
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     0

**CREATE DATAFRAME BY USING DICTIONARY**

In [ ]:
# these must be A and B are equal
dic1 = {'A':[1,2,3,4,5],
        'B':[6,7,8,9,0]}
dt_frame_var4 = pd.DataFrame(dic1)
print(dt_frame_var4)

   A  B
0  1  6
1  2  7
2  3  8
3  4  9
4  5  0

**we can get particular data of column using columns parameter**

In [ ]:
dt_frame_var4 = pd.DataFrame(dic1,columns =['A'])
print(dt_frame_var4)

# we can also get data of particular row and particular column as
print("here we get particular out of row and column")
# ............coulmn,row.....
dt_frame_var4['A'][2]

   A
0  1
1  2
2  3
3  4
4  5
here we get particular out of row and column

3

create dataframe through list of lists

In [ ]:
lstvar = [['python','c++','c','java','kotlin'], [1,2,3,4,5]]
dt_frame_var6 = pd.DataFrame(lstvar, index = ['language','rank'], columns = [1,2,3,4,5])
print(dt_frame_var6)

In [ ]:
dic2 = {'languages':['python', 'c++','c','java','kotlin'],
        'ranks':[1,2,3,4,5],
        'popularity':[1,3,5,2,4]}
dt_frame_var7 = pd.DataFrame(dic2)
print(dt_frame_var7)

CREATE DATAFRAME BY SERIES DATASTRUCTURE

In [ ]:
sr_var = {"name":pd.Series(['python', 'c++','c','java','kotlin']),
          "rank":pd.Series([1,2,3,4,5]),
          "popularity":pd.Series([1,3,4,2,5])}
dt_frame_var8 = pd.DataFrame(sr_var)
print(dt_frame_var8)
#print a particular column
print('print a particular column')
print(dt_frame_var8['name'])
# print a particular row and column
print(' print a particular row and column')
print(dt_frame_var8['name'][1])

     name  rank  popularity
0  python     1           1
1     c++     2           3
2       c     3           4
3    java     4           2
4  kotlin     5           5
print a particular column
0    python
1       c++
2         c
3      java
4    kotlin
Name: name, dtype: object
 print a particular row and column
c++

**PERFORM ARTHMETIC OPERATIONS**

In [ ]:
# ADD TWO COLUMNS OF DATAFRAMES
VAR1 = {"A":[1,2,3,4,5],
        "B":[6,7,8,9,0],
        "C":[11,12,13,14,15]}
dt_frame_var9 = pd.DataFrame(VAR1)
print(dt_frame_var9['A']+dt_frame_var9['B'])

# subtract TWO COLUMNS OF DATAFRAMES
print(dt_frame_var9['B']-dt_frame_var9['C'])

# multiply TWO COLUMNS OF DATAFRAMES
print(dt_frame_var9['A']*dt_frame_var9['B'])

# devide TWO COLUMNS OF DATAFRAMES
print(dt_frame_var9['A']/dt_frame_var9['B'])

# we can see it does not effect the original dataframe
print(dt_frame_var9)
# but if we do like this to subtract or perform any arthmetic operation and make it new column as
# here i create new column D which is addition of column A and B
dt_frame_var9['D']= dt_frame_var9['A']+dt_frame_var9['B']
print(dt_frame_var9)
dt_frame_var9['E'] = dt_frame_var9['C']/dt_frame_var9['D']
print(dt_frame_var9)

# we can check condition of column or between two column as
dt_frame_var9['F'] = dt_frame_var9['A'] <= 3
print(dt_frame_var9)

0     7
1     9
2    11
3    13
4     5
dtype: int64
0    -5
1    -5
2    -5
3    -5
4   -15
dtype: int64
0     6
1    14
2    24
3    36
4     0
dtype: int64
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4         inf
dtype: float64
   A  B   C
0  1  6  11
1  2  7  12
2  3  8  13
3  4  9  14
4  5  0  15
   A  B   C   D
0  1  6  11   7
1  2  7  12   9
2  3  8  13  11
3  4  9  14  13
4  5  0  15   5
   A  B   C   D         E
0  1  6  11   7  1.571429
1  2  7  12   9  1.333333
2  3  8  13  11  1.181818
3  4  9  14  13  1.076923
4  5  0  15   5  3.000000
   A  B   C   D         E      F
0  1  6  11   7  1.571429   True
1  2  7  12   9  1.333333   True
2  3  8  13  11  1.181818   True
3  4  9  14  13  1.076923  False
4  5  0  15   5  3.000000  False

**DELETE AND INSERT FUNCTION IN PYTHON**

we can insert column using INSERT function

In [ ]:
# we have dataframe dt_frame_var9
print(dt_frame_var9)
# insert new column name col1
# ...................index..colname..value.........
dt_frame_var9.insert(4 , "col1" ,[10,20,30,40,50] )
print(dt_frame_var9)

   A  B   C   D         E      F
0  1  6  11   7  1.571429   True
1  2  7  12   9  1.333333   True
2  3  8  13  11  1.181818   True
3  4  9  14  13  1.076923  False
4  5  0  15   5  3.000000  False
   A  B   C   D  col1         E      F
0  1  6  11   7    10  1.571429   True
1  2  7  12   9    20  1.333333   True
2  3  8  13  11    30  1.181818   True
3  4  9  14  13    40  1.076923  False
4  5  0  15   5    50  3.000000  False

**USING DELETE FUNCTION TO DELETE COLUMN**

In [ ]:
# we have dataframe name dt_frame_var9
print(dt_frame_var9)

# delete column B using pop
dt_frame_var9.pop('B')
print(dt_frame_var9)

# delete column col1 using delete function
del dt_frame_var9['col1']
print(dt_frame_var9)

   A  B   C   D  col1         E      F
0  1  6  11   7    10  1.571429   True
1  2  7  12   9    20  1.333333   True
2  3  8  13  11    30  1.181818   True
3  4  9  14  13    40  1.076923  False
4  5  0  15   5    50  3.000000  False
   A   C   D  col1         E      F
0  1  11   7    10  1.571429   True
1  2  12   9    20  1.333333   True
2  3  13  11    30  1.181818   True
3  4  14  13    40  1.076923  False
4  5  15   5    50  3.000000  False
   A   C   D         E      F
0  1  11   7  1.571429   True
1  2  12   9  1.333333   True
2  3  13  11  1.181818   True
3  4  14  13  1.076923  False
4  5  15   5  3.000000  False