**SERIES DATA STRUCTURE**

In [18]:
import pandas as pd

In [69]:
srs_var = pd.Series(1)
srs_var

0    1
dtype: int64

index give the index to the rows it is by default 0ton
and name parameter gives the name to our data

In [67]:
lst = [1,2,3,4,5]
srs_var1 = pd.Series(lst , index = [ 'a','b','c','d','e'] , name= "marks")
print(srs_var1)
print(type(srs_var1))

a    1
b    2
c    3
d    4
e    5
Name: marks, dtype: int64
<class 'pandas.core.series.Series'>

in this i pass the index to give indexes to the lst1 whole data

In [68]:
lst1 = [1,2,3,4,5, "python","java","c++","C","kotlin"]
srs_var2 = pd.Series(lst1, index = [ 'a','b','c','d','e','f', 'g','h','i','j'])
print(srs_var2)

a         1
b         2
c         3
d         4
e         5
f    python
g      java
h       c++
i         C
j    kotlin
dtype: object

in this it works as lst2 is the data and lst3 are the indexes

In [74]:
lst2 = [1,2,3,4,5]
lst3 =[ "python","java","c++","C","kotlin"]
srs_var3 = pd.Series(lst2,lst3)
print(srs_var3)

python    1
java      2
c++       3
C         4
kotlin    5
dtype: int64

it is works same as upper code here i use index parameter to set lst3 are indexes

In [77]:
srs_var4 = pd.Series(lst2 ,index = lst3)
print(srs_var4)

python    1
java      2
c++       3
C         4
kotlin    5
dtype: int64

***here i create series using dictionary ***

In [83]:
dic2 = {'name':['python','java','c++','c'],
        'popularity':[1,2,4,3],
        'rank':[1,2,3,4]}
srs_var5 = pd.Series(dic2)
print(srs_var5)

name          [python, java, c++]
popularity           [1, 2, 4, 3]
rank                 [1, 2, 3, 4]
dtype: object

In [88]:
dic1 = {'A':1,
        'B':6,
        'C':11}
srs_var4 = pd.Series(dic1)
print(srs_var4)

A     1
B     6
C    11
dtype: int64

In [95]:
new_srs = pd.Series([1,2,3,4,5,6,7,8,9,0])
print(new_srs)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

***here i can chnge values of new_srs index 0,2,4 by 100 ***

In [96]:
# prompt: update my upper cell new_srs series in to where index are 0,2,4 the value is 100

new_srs.loc[[0,2,4]] = 100
new_srs

0    100
1      2
2    100
3      4
4    100
5      6
6      7
7      8
8      9
9      0
dtype: int64

In [112]:
names = ['a','b','c','d']
age = [1,2,3,4,5]
data_var = {'name':names,
            'age':age}
series_var = pd.Series(data_var)
print(series_var)

name       [a, b, c, d]
age     [1, 2, 3, 4, 5]
dtype: object

**ADDING SERIES**

In [114]:
s1 = pd.Series(10 , index = [1,2,3,4,5])
s2 = pd.Series(20, index = [1,2,3,4,5])
print(s1+s2)

1    30
2    30
3    30
4    30
5    30
dtype: int64

In [115]:
s1 = pd.Series(10 , index = [1,2,3,4,5])
s2 = pd.Series(20, index = [1,2,3,4])
print(s1+s2)

1    30.0
2    30.0
3    30.0
4    30.0
5     NaN
dtype: float64

In [116]:
s1 = pd.Series(10 , index = [1,2,3,4,5])
s2 = pd.Series(20, index = [6,7,8,9,0])
print(s1+s2)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
dtype: float64