**PANDAS FUNCTION APPLY TO CSV**

In [2]:
# index function give us number of indexes avialable in our dataset as
import pandas as pd
csv_var = pd.read_csv('/content/testcsv')
print(csv_var)
print(csv_var.index)

    languages  rankings  popularity  salary
0      python         1           1     100
1        java         2           4     200
2           c         8           5     300
3         c++         6           6     400
4      kotlin         5           8     500
5          c#         7           2     600
6  javascript         3           3     700
7         php         4           7     800
RangeIndex(start=0, stop=8, step=1)

In [6]:
# column function gives the all names of column as
print(csv_var.columns)

Index(['languages', 'rankings', 'popularity', 'salary'], dtype='object')

In [4]:
# describe function describe the data set as
print(csv_var.describe())

       rankings  popularity      salary
count   8.00000     8.00000    8.000000
mean    4.50000     4.50000  450.000000
std     2.44949     2.44949  244.948974
min     1.00000     1.00000  100.000000
25%     2.75000     2.75000  275.000000
50%     4.50000     4.50000  450.000000
75%     6.25000     6.25000  625.000000
max     8.00000     8.00000  800.000000

In [8]:
# head function give only upper 5 rows of data set
print(csv_var.head())

# we can give particular number to show as
print(csv_var.head(2))

  languages  rankings  popularity  salary
0    python         1           1     100
1      java         2           4     200
2         c         8           5     300
3       c++         6           6     400
4    kotlin         5           8     500
  languages  rankings  popularity  salary
0    python         1           1     100
1      java         2           4     200

In [9]:
# tail function gives lower rows of data set as
print(csv_var.tail())

# we can give particular number to show as
print(csv_var.tail(2))

    languages  rankings  popularity  salary
3         c++         6           6     400
4      kotlin         5           8     500
5          c#         7           2     600
6  javascript         3           3     700
7         php         4           7     800
    languages  rankings  popularity  salary
6  javascript         3           3     700
7         php         4           7     800

In [12]:
# we can give particular amount of data as using slicing just like string slicing
print(csv_var[:2])
print(csv_var[2:4])

  languages  rankings  popularity  salary
0    python         1           1     100
1      java         2           4     200
  languages  rankings  popularity  salary
2         c         8           5     300
3       c++         6           6     400

In [14]:
# we can get indexes of csv file in an array
print(csv_var.index.array)

# we can convert csv to numpy array as
print(csv_var.to_numpy())

<NumpyExtensionArray>
[0, 1, 2, 3, 4, 5, 6, 7]
Length: 8, dtype: int64
[['python' 1 1 100]
 ['java' 2 4 200]
 ['c' 8 5 300]
 ['c++' 6 6 400]
 ['kotlin' 5 8 500]
 ['c#' 7 2 600]
 ['javascript' 3 3 700]
 ['php' 4 7 800]]

In [16]:
# we can sort row and columns of data set using sort_index function as
# axis = 0 for sorting as rows and axis = 1 for sorting as column
print(csv_var)
print(csv_var.sort_index(axis=0, ascending = False)) # ascending is false means sorting in descensing order

    languages  rankings  popularity  salary
0      python         1           1     100
1        java         2           4     200
2           c         8           5     300
3         c++         6           6     400
4      kotlin         5           8     500
5          c#         7           2     600
6  javascript         3           3     700
7         php         4           7     800
    languages  rankings  popularity  salary
7         php         4           7     800
6  javascript         3           3     700
5          c#         7           2     600
4      kotlin         5           8     500
3         c++         6           6     400
2           c         8           5     300
1        java         2           4     200
0      python         1           1     100

In [21]:
# loc and iloc function are used to acces particular data of data set loc use nominal and numerial argument and iloc used numerical argument
print(csv_var.loc[1,'languages'])

print(csv_var.iloc[2,3])

java
300

In [29]:
# we can drop particular column or row using drop function
print(csv_var.drop(1,axis=0))
print(csv_var.drop('languages',axis=1))

    languages  rankings  popularity  salary
0      python         1           1     100
2           c         8           5     300
3         c++         6           6     400
4      kotlin         5           8     500
5          c#         7           2     600
6  javascript         3           3     700
7         php         4           7     800
   rankings  popularity  salary
0         1           1     100
1         2           4     200
2         8           5     300
3         6           6     400
4         5           8     500
5         7           2     600
6         3           3     700
7         4           7     800