**WRITE CSV FILE USING TO_CVS FUNCTION**

In [17]:
# HERE I CREATE CSV FILE FROM DATAFRAME
import pandas as pd
dic_var = {'languages':['python','java','c','c++','kotlin','c#','javascript','php'],
           'rankings':[1,2,8,6,5,7,3,4],
           'popularity':[1,4,5,6,8,2,3,7],
           'salary':[100,200,300,400,500,600,700,800]}
dt_frame = pd.DataFrame(dic_var)
# our data frame is ready
print(dt_frame)

# now convert this datframe in to csv file
# ........func....name of csv file............
dt_frame.to_csv("testcsv", header =[1,2,3,4])

    languages  rankings  popularity  salary
0      python         1           1     100
1        java         2           4     200
2           c         8           5     300
3         c++         6           6     400
4      kotlin         5           8     500
5          c#         7           2     600
6  javascript         3           3     700
7         php         4           7     800